
<div class ="row">
    <div class="col-6">
        <div class="mb-3">
            <label class="form-label" for="">Numero1</label>
            <input type="text" class="form-control" [(ngModel)]="num1" name="num1" placeholder="Numero1">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Numero2</label>
            <input type="text" class="form-control" [(ngModel)]="num2" name="num2" placeholder="Numero2">
        </div>
        <div class="mb-6">
            <label for="">
                <input id="opcion1" type="radio" name="Basica" value="1" [(ngModel)]="operacion"> Suma
                <input id="opcion2" type="radio" name="Basica" value="2" [(ngModel)]="operacion"> Resta
                <input id="opcion3" type="radio" name="Basica" value="3" [(ngModel)]="operacion"> Multiplicacion
                <input id="opcion4" type="radio" name="Basica" value="4" [(ngModel)]="operacion"> Division
            </label>
        </div>
        <div class="mb-3">
            <button (click)="operacionesBasicas()" class="btn btn-primary">Calcular </button>
        </div>
    </div>
    
    <div class="col-6">
        <h2>Resultado es: {{resultado}}</h2>
    </div>
</div>